@media (prefers-color-scheme: dark) {
  body {
    color: $color-Dark;
    background-color: $color-Light;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: $color-Dark;
    background: $color-Light;
  }
}
