@media (prefers-color-scheme: dark) {
  body {
    color: var(--primary-Dark);
    background-color: var(--primary-Light);
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--color-Dark);
    background: var(--color-Light);
  }
}
